<div class="rt-wishlist-empty">
  <div class="rt-wishlist-empty__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#C8A96A" stroke-width="1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
  </div>
  <h2 class="rt-wishlist-empty__heading">Your Wishlist is Empty</h2>
  <p class="rt-wishlist-empty__description">Save your favourite watches for future purchase.</p>
  <a href="{{ routes.all_products_collection_url }}" class="rt-wishlist-btn rt-wishlist-btn--primary">Explore Collection</a>
</div>
